/*=============== DISCOUNT ===============*/
.discount {
    &__container {
        position: relative;
        background-color: var(--container-color-alt);
        padding: 2.5rem 2rem; 
        border-radius: .75rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }
    &__title {
        font-size: 1.2rem; 
        margin-bottom: var(--mb-1); 
    }
    &__description {
        margin-bottom: var(--mb-1-5); 
        color: var(--text-color-light); 
    }
    &__img {
        width: 250px; 
        position: absolute;
        top: 2rem; 
        right: -8rem;
    }
}
